{
  parser: "babel-eslint",
  "plugins": [
    "react",
    "react-redux"
  ],
    "rules": {
      "max-len": [1, 120, 2, {ignoreComments: true}],
      "react/prop-types": [0],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/prefer-stateless-function": [1],
      "no-nested-ternary": [1],
      "object-curly-newline": [0, {multiline: true, minProperties: 1}],
      "jsx-a11y/label-has-for": [1],
      "no-unused-vars": [1],
      "jsx-a11y/anchor-is-valid": [1, {
        "components": [ "Link" ],
        "specialLink": [ "to" ]
        }],
      "arrow-body-style": [1],
      "jsx-a11y/media-has-caption": [1]
    },
    "extends": ["airbnb"],
    "globals": {
        "document": true,
    }
}
